<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>String:</strong>
    <%= student.string %>
  </p>

  <p>
    <strong>School email:</strong>
    <%= student.School_email %>
  </p>

  <p>
    <strong>Major:</strong>
    <%= student.major %>
  </p>

  <p>
    <strong>Minor:</strong>
    <%= student.minor %>
  </p>

  <p>
    <strong>Graduuation date:</strong>
    <%= student.graduuation_date %>
  </p>

</div>
